[submodule "Module 2: Fundamentals of Python Programming/Python-Learning"]
	path = Module 2: Fundamentals of Python Programming/Python-Learning
	url = https://github.com/Ritakushwaha/Python-Learning/
